
<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
                Here are some posts from fellow students!
              </h2>
          </div>
          <hr>

          {{#each results}}
          <div class="post-preview">
            <a href={{this.filename}}>
              <h2 class="post-title">
                {{this.className}} {{this.description}}
              </h2>
            </a>
            From {{this.profName}} during {{this.semester}}
            <br>
            Rating: {{this.rating}}
            <br>
            Number of Ratings: {{this.numRating}}
              
            <p class="post-meta">
              Notes: {{this.notes}}
            </p>
            Rate this form:  
            <form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "rate" value = "1">
              <input type = 'image' name = "submit" alt = "Submit" src="/img/star.png" height = "20px" width = "20px">
            </form>
            <form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "rate" value = "2">
              <input type = 'image' name = "submit" alt = "Submit" src="/img/star.png" height = "20px" width = "20px">
            </form>
            <form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "rate" value = "3">
              <input type = 'image' name = "submit" alt = "Submit" src="/img/star.png" height = "20px" width = "20px">
            </form>
            <form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "rate" value = "4">
              <input type = 'image' name = "submit" alt = "Submit" src="/img/star.png" height = "20px" width = "20px">
            </form>
            <form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "rate" value = "5">
              <input type = 'image' name = "submit" alt = "Submit" src="/img/star.png" height = "20px" width = "20px">
            </form>

            <!--<form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "like" value = "1">
              <div class="rating">
               Thumbs up 
              <div class="like grow">
                <button type='submit' value = "0" class="fa fa-thumbs-up fa-3x like" aria-hidden="true"></button>
              </div>
            </form>
            <form method = "POST" action="/rate">
              <input type = 'hidden' name = "filename" value = "{{this.filename}}">
              <input type = 'hidden' name = "like" value = "0">
               Thumbs down 
              <div class="dislike grow">
                <button type='submit' value = "1" class="fa fa-thumbs-down fa-3x like" aria-hidden="true"></button>
              </div>
            </form> -->
          </div>
          <br>
          <hr>

          {{else}}
            <p class="post-preview">
            There are no docments to view right now
            </p>  
          {{/each}}

          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>


    <hr>
